




<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/img/logo.png">

    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/assets/fontawesome-pro-5.11.1-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    


</head>

<body class="admin-page">

    <%- include('./../../includes/alert'); %>

    <% if ( typeof post != 'undefined') { %>
    <input hidden name="postId" value="<%= post._id %>" type="text" id="postId"/>
        <% } %>

    <section class="main-body container-fluid row mx-0 px-0">

        <!-- Left column navigation  -->
        <%- include('./../../includes/adminNavigation.ejs') %>

        <!-- Right column main body -->
        <div class="col-10  main-col px-0" ">

            <!-- Top navigation -->
            <section class=" container nav-container mx-0">
                    <div class="d-flex nav-header  bg-white  py-2 px-3  " style="width: 100%;">

                        <div class="dropdown dropdown-menu-right ml-auto" style="color: black;">
                            <button class="shadow-none btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                type="button">
                                <% if( typeof user.images.profile.common.url != "undefined" && user.images.profile.common.url) { %>
                                <img class="rounded-circle" src="/uploads/images/mobile_thumbnail/<%= user.images.profile.common.url %>"
                                    style="width: 25px;height: 25px;margin-right: 5px;">
                                <% } else { %>
                                <i class="fad fa-user-shield font-weight-bold"></i>
                                <% } %>

                                <span class="px-1">
                                    <%= `${user.name.firstName}` %>
                                </span>
                            </button>
                            <div class="dropdown-menu text-secondary" role="menu"
                                style="padding-top: 4px;padding-bottom: 4px;margin-right: 0; margin-top: 5px; right:0">
                                <i class="fal fa-angle-up"  style="
                                color: #fff;
                                position: absolute;
                                top: -13px;
                                right: 10px;
                                font-size: 22px;
                                z-index: 999;
                                "></i>
                                <a class="dropdown-item" role="presentation" href="#" style="color: black;">Profile</a>
                                <a class="dropdown-item text-dark" role="presentation" href="#">Notifications</a>
                                <a class="dropdown-item text-dark" role="presentation" href="#">Settings</a>
                                <hr style="margin: 0;">
                                <form action="/auth/logout?via=admin" method="POST">
                                    <button type="submit" class="dropdown-item btn btn-light text-dark"
                                        role="presentation">Logout</button>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>

                            </div>
                        </div>
                    </div>
                    <hr>
            </section>

            <!-- main content -->
          

                <div class="container p-5 " id="usersContainer">

                    <div class="row" style="position: absolute;
                    right: 50px;
                    top: 0;
                    z-index: 1">
                
                        <div class="toast" data-delay="5000">
                            <div class="toast-header">
                                <strong class="mr-auto text-primary"></strong>
                                <!-- <small class="text-muted">5 mins ago</small> -->
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                            </div>
                            <div class="toast-body">
                
                            </div>
                        </div>
                    </div>
                
                    <div id="searchBoxEditPost" class="">
                        <div class="row px-0 my-1 py-1">
                            <div class="col-8 text-center input-group mx-auto">
                
                                <input autocomplete="off" type="text" class="form-control" style="" name="usernameOrEmail"
                                    id="usernameOrEmailId" class="form-control" placeholder=" Enter email/username to search..." id="">
                
                                <button class="btn btn-outline-primary shadow-none ml-1" onclick="searchUsers(event)"
                                    style="cursor: pointer;">
                                    Search
                                    <!-- <i class="fa fa-search text-secondary"></i> -->
                                </button>
                            </div>
                            <div class="col-4 text-center input-group mx-auto">
                
                                <button class="btn btn-outline-danger shadow-none ml-1" onclick="searchAdminUsers(event)"
                                    style=" cursor: pointer;">
                                    View Admins
                                    <!-- <i class="fa fa-search text-secondary"></i> -->
                                </button>
                            </div>
                
                
                
                        </div>
                        <ul class="list-group px-0 my-2 py-2" id="search_post_list">
                
                        </ul>
                    </div>
                
                    <section class="row px-3" id="recentUsersListSectionId" style="min-height: 300px; ">
                        <div class="col bg-white p-3 rounded border">
                            <div class="row px-0 my-2 py-1">
                                <div class="col">
                                    <span>
                                        <h5 class="main-title">Recent users</h5>
                                    </span>
                                </div>
                
                            </div>
                            <div class="users-list">
                                <ul class="list-group " id="recentUsersListId">
                
                                    <li class="cus-list-header list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-3 d-inline-block text-truncate">
                                            <b> Name </b>
                                        </div>
                                        <div class="col-3 d-inline-block text-truncate">
                                            <b> Email </b>
                                        </div>
                
                                        <!-- <div class="col-2 d-inline-block text-truncate">
                                            <b> Mobile </b>
                                        </div> -->
                                        <div class="col-2 d-inline-block text-truncate">
                                            <b> status </b>
                                        </div>
                                        <!-- <div class="col-1 d-inline-block text-truncate">
                                            <b> Verified </b>
                                        </div> -->
                
                                        <div class="col-3 d-inline-block text-truncate"><b>Created Date</b></div>
                                        <div class="col-1">
                                            <b>Manage</b>
                                        </div>
                                    </li>
                
                                </ul>
                            </div>
                        </div>
                    </section>
                
                
                
                
            
            
            </div>

            <!-- ^ Main content ends here ^ -->

        <!-- Right column main body ends here -->
         </div>


    </section>


    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/fontawesome-pro-5.11.1-web/js/fontawesome.min.js"></script>
    <script src="/assets/js/admin.js"></script>

    
<script>

    $(document).ready(function(){
        getUsersInitData();
    });

    // init 
    // const rootDomain = `${location.protocol}//${window.location.hostname}${location.port ? ':' + location.port : ''}/admin`;
    // let fetchOnce = false, previousContent, initListTemplate;
    const initListTemplate = $('#usersContainer #recentUsersListSectionId').html();
    const spinnerCentered = `
        <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
            <div class="spinner-border spinner-border-sm text-primary p-2 m-5 mx-auto" >
        </div>`;

    const spinnerSmall = `<div class="spinner-border spinner-border-sm text-primary " >`;

    function getUsersInitData() {

        // show loading
        $('#usersContainer #recentUsersListSectionId').html(spinnerCentered);

        console.log('%cFetching recent users', 'color: red; font-size:20px;');

        $.get(`${rootDomain}/admin/users/get/recent`, (data, status) => {
            if (status == 'success' && Array.isArray(data) && data.length > 0) {

                $('#usersContainer #recentUsersListSectionId').html(initListTemplate);
                refreshUsers(data);

            } else {
                console.log('Failed! ', { status, data });
            }
            console.log('Response  ', { status, data });
        }).fail(error => {
            $('#usersContainer #recentUsersListSectionId').html(initListTemplate);
            console.log('Error occurred! ', { error });
        });

    }

    function refreshUsers(users) {

        console.log("%cRefreshing users", "color: green; font-size: 20px");
        $('#usersContainer #recentUsersListId li:not(:first-child)').remove();

        users.forEach(user => {

            var mobileArray = [...user.mobileNumber.map(no => no.number), ...user.telephoneNumber.map(no => no.number)];;
            mobileArray = mobileArray.toString().replace(',', '');


            // append list data
            $('#usersContainer #recentUsersListId').append(`
        <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-3 d-inline-block text-wrap">${user.name && user.name.firstName ? user.name.firstName : ''}</div>
                <div class="col-3 d-inline-block text-wrap text-truncate">
                    ${ user.email ? user.email : ''}
            </div>
           
                <input type="hidden" name="keyId" value="${user._id}" />
                <div class="col-2 d-inline-block text-wrap">
                    <div class="${ user.status ? 'text-success': 'text-danger' }" >${user.status ? 'Active' : 'Inactive'} </div>
                </div>  
                
                <div class="col-3 d-inline-block text-wrap">${ getCustomDate(new Date(user.createdOn))}</div>
                <div class="col-1" >                            
                    <a  class="btn btn-outline-primary btn-sm" href="/admin/users/edit/${user._id}">Edit</a>                            
                </div>
        </li>
        `);
        });
        // <div class="col-2 d-inline-block text-wrap">
        //         ${ mobileArray}
        //     </div>
        // <div> ${user.verified ? 'verified' : 'Not verified'} </div>

        // <div class="col-1 d-inline-block text-wrap">
        //             ${user.verified ? 'verified' : 'Not verified'}
        //         </div>
    }



    function searchUsers(e) {
        e.preventDefault();
        const searchterm = $('#usernameOrEmailId').val();
        console.log('Searching users : ',searchterm);

        if (searchterm && searchterm.length > 0) {

            $(e.target).html(spinnerSmall);
            // disable search button 
            $(e.target).prop('disabled', true);

            // fetch user
            $.get(`${rootDomain}/admin/users/search-users/${searchterm}`, (data, status) => {
                $(e.target).html('Search');
                console.log({data});
                if (status == 'success' && Array.isArray(data) && data.length > 0) {
                    console.log({ users: data });
                    $('#recentUsersListSectionId .main-title').html('Search results');
                    refreshUsers(data);
                }

                $(e.target).removeAttr('disabled');

            }).fail((error) => {
                $(e.target).html('Search');
                $(e.target).removeAttr('disabled');
                console.log('User search failed');
            });
        }

    }

    
    function searchAdminUsers(e) {
        e.preventDefault();


            $(e.target).html(`<div class="spinner-border spinner-border-sm text-success mr-1"></div> Searching..`);
            // disable search button 
            $(e.target).prop('disabled', true);

            // fetch user
            $.get(`${rootDomain}/admin/users/search-admins`, (data, status) => {
                $(e.target).html('View Admins');

                if (status == 'success' && Array.isArray(data) && data.length > 0) {
                    console.log({ users: data });
                    $('#recentUsersListSectionId .main-title').html('Search results');

                    refreshUsers(data);
                }

                $(e.target).removeAttr('disabled');

            }).fail((error) => {
                $(e.target).html('View Admins');
                $(e.target).removeAttr('disabled');
                console.log('search failed');
            });

    }

    function getCustomDate(jsDate) {
        var dd = jsDate.getDate() < 10 ? '0' + jsDate.getDate() : jsDate.getDate();
        var mm = jsDate.getMonth() + 1 < 10 ? '0' + (jsDate.getMonth() + 1) : (jsDate.getMonth() + 1);
        var yyyy = jsDate.getFullYear();
        var hr = jsDate.getHours() + 1 < 10 ? '0' + (jsDate.getHours() + 1) : (jsDate.getHours() + 1);
        var min = jsDate.getMinutes() + 1 < 10 ? '0' + (jsDate.getMinutes() + 1) : (jsDate.getMinutes() + 1);
        var sec = jsDate.getSeconds() + 1 < 10 ? '0' + (jsDate.getSeconds() + 1) : (jsDate.getSeconds() + 1);
        var period = hr <= 12 ? 'AM' : 'PM';
        var customDate = dd + '/' + mm + '/' + yyyy + ' ' + hr + ':' + min + ':' + sec + ' ' + period;
        return customDate;
    }

</script>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= MAP_API %>" async defer></script>



</body>

</html>



