<%- include('../includes/header.ejs',
    {
        pageTitle: pageTitle, 
        keywords: [ 'Sign up', 'Log In', 'Digital Manipur', 'Digital Imphal', 'Digital India', 'Digital North East', 'Manipur Marketing', 'Imphal Marketing', 'Digital News', 'Digital Media', 'SEO', 'Facebook Marketing', 'Youtube Marketing', 'Promotion Page', 'Hoarding Ad', 'LED Ad', 'Local Poromotion','Digital Manipur','Manipur.info','Leibaklei infotech'],
        author: 'Digital Manipur, Manipur Info',
        description: `Digital Manipur, known as the Leading Local Search Engine, acts as a bridge between Buyers and Sellers. Digital Manipur provides information about any products or services to customers. Digital Manipur is present online services which helps your business grow to the next level!`,
    }
    ) %>

</head>


    <body class="auth row d-flex flex-row justify-content-center">
        <div class="text-center login-clean col-12 col-md-6 col-lg-5">
            <div class="illustration illustration img-box mt-4">
                <a href="/">
                    <img class="p-2 logo-img" src="/assets/img/logo.png"  >

                </a>
            </div>
            <h3 style="height: 41px;font-weight: 300;font-size: 24px;">Reset your password</h3>
            <form method="post" enctype="application/x-www-form-urlencoded" action="/auth/password_reset">
                
                <p class="<%= messages && messages.error ? '':'d-none' %> text-left m-0 pb-2 text-danger" style="font-size: 12px;">*
                    <%= messages.error %>
                </p>
                <% if ( messages.info ) { %>
                    <p class="<%= messages && messages.info ? '':'d-none' %> text-left m-0 pb-2 text-success" style="font-size: 12px;">*
                        <%= messages.info %>
                    </p>
                    <% } %>
                        <p class="text-left text-dark" style="font-size: 13px;margin: 0px;margin-bottom: 10px;font-weight: 400;">
                            <strong>Enter your email address and we will send you an email to reset your password.</strong>
                            <br>
                        </p>
                        <h2 class="sr-only">Login Form</h2>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="Enter your email address" required="">
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="form-group">
                            <button class="btn btn-success btn-block" role="button">Submit</button>
                        </div>
                        <div class="form-group mb-0">
                            <div>
                                <a class="btn btn-light text-dark " href="/auth/login" role="button">
                                    <i class=" small fal mr-2 fa-arrow-left"></i>
                                     Go back
                                </a>
                            </div>
                            
                        </div>
            </form>
        </div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/add-listing.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        <script src="/assets/js/search.js"></script>
        <script src="/assets/js/Simple-Slider.js"></script>
        <script src="/assets/js/tools.js"></script>
        <script src="/assets/js/untitled.js"></script>
    </body>

    </html>