<a href="/admin/overview" class="">
    <div class=" d-flex flex-row justify-content-start bg-white align-items-center border rounded p-2">
            <img src="/assets/img/logo.png"  style="width: 50px; margin-right: 10px" />
            <h5 class="text-success font-weight-bold col">Digital Manipur</h5>
    </div>
 
    
</a>
<div class="p-3 mt-5 " style="text-decoration: black;">
    WEBSITE MANAGEMENT
</div>
<ul class="list-group site-nav mt-2">

<a href="/admin/site/Collections" class="list-group-item list-group-item-action <%= page == 'Collections'? 'active':'' %>">Collections</a>
<a href="/admin/site/Events" class="list-group-item list-group-item-action <%= page == 'Events'? 'active':'' %>">Events</a>
<a href="/admin/site/claim" class="list-group-item list-group-item-action <%= page == 'Claim'? 'active':'' %>">Claim</a>
<a href="/admin/site/career" class="list-group-item list-group-item-action <%= page == 'Career'? 'active':'' %>">Career</a>
<a href="/admin/site/category" class="list-group-item list-group-item-action <%= page == 'Category'? 'active':'' %>">Category</a>
<a href="/admin/site/reviews" class="list-group-item list-group-item-action <%= page == 'Reviews'? 'active':'' %>">Reviews</a>
<label class="font-weight-bold text-muted small my-2" for="">Advertisement</label>
<a href="/admin/site/business/post" class="list-group-item list-group-item-action <%= page == 'Advertisement'? 'active':'' %>">Plans and pricing</a>
<a href="/admin/site/allads" class="list-group-item list-group-item-action <%= page == 'All ads'? 'active':'' %>">All ads</a>
</ul>
